section {
  display: flex;
  justify-content: center;
}
table {
  margin-top: 15px;
  border-collapse: collapse;
  width: 70%;
}

thead {
  background-color: black;
  color: white;
}
th,
td {
  padding: 10px;
  border: 2px solid green;
  text-align: center;
}
